:root {
    --carbon: #101010;
    --dimmed: #656565;
    --white: #ffffff;
    --main-font-size: 16pt;
    --small-font-size: 8pt;
    --main-font: "Oswald", sans serif;
    --column-left: 2.4cm;
}

body, h1, h2, h3, h4, h5 {
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    font-style: normal;
    color: var(--carbon);
    background-color: var(--white);
}

h1 {
    margin: 0px;
    text-transform: uppercase;
}

h2 {
    /* border-bottom: 1px solid var(--carbon); */
}


h1 a {
    color: var(--carbon);
    text-decoration: none;
}

p {
    max-width: 35em;
}

a {
    color: var(--carbon);
}

#menu {
    justify-self: end;
}

section#content {
    margin-top: 20px;
    justify-self: left;
}

nav {
}

nav a {    
    color: var(--carbon);
    text-decoration: none;
    margin-left: 8px;
}

.container {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
}

a.more:before {
    content: "...more";    
}

ul, ol {
    margin-left: 0;
    padding-left: 1em;
}

ol li, ul li {
    margin-left: 0;
    padding-left: 0;
    max-width: 34em;
    margin-bottom: 6px;
}

ul li {
    list-style: circle;
}